/* Font Imports*/

  /* blockier font*/
  @import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Sigmar&display=swap');
  /* bubbly font*/
  @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&display=swap');
    

@media (prefers-color-scheme: dark) {
  body {
    --main-back: #2C3333;
    --secondary: rgb(46, 79, 79);
    /* --compliment: #d9a300; */
    --compliment: #00f7ff;
    --contrast-smol: rgb(141, 212, 194);
    --contrast-big: #e6f8f4;
  }
}


@media (prefers-color-scheme: light) {
  body {
    --main-back: #FDF4F5;
    --secondary: rgb(255, 194, 220);
    /* --secondary: rgb(232, 161, 192); */
    --compliment: #a6e0ff;  
    --contrast-smol: rgb(147, 107, 158);
    --contrast-big: rgb(66, 43, 73); /* */
  }
}

:root{
  /* blocky font: */
  /* --title-font: 'Sigmar', cursive;
  --general-font: 'Cherry Cream Soda', cursive;
  font-size: 20px; */

  /* bubbly font: */
  /* --title-font: 'Cherry Bomb One', cursive;
  --general-font: 'Indie Flower', cursive;
  font-size: 20px; */

  /* mix font  */  
  --title-font: 'Cherry Bomb One', cursive;
  --general-font: 'Cherry Cream Soda', cursive;
  font-size: 14px;


  

}


body{
  background-color: var(--main-back);
  color: var(--contrast-big);
  font-family: var(--general-font);
  
  background-image: linear-gradient(var(--secondary) 30%, var(--main-back));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}


#heading{    
  /* background-image: linear-gradient(var(--secondary) 30%, var(--main-back)); */
  /* background-color: var(--secondary); */
  color: var(--contrast-big);
  align-items: center;
}

header{
  margin-bottom: 0px;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
}

h1{   
  /* border: 2px solid var(--compliment);
  border-radius: 5px;
  width: fit-content; */
  color: var(--contrast-smol);
  font-family: var(--title-font);
  /* font-size: 70px; */
}
header > h1{
  padding: 5px 10px 0px; 
  font-size: calc(2em + 1.2vw);
  
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.default-grid {
  display: grid;
  padding: 5vh 5% ;
  row-gap: 3vh;
}

.default-grid > * > div {
  padding: 10px;
  border: 2px solid var(--compliment);
  border-radius: 5px;
}

h2{
  color: var(--contrast-smol);
  font-family: var(--title-font);
  /* font-size: 40px; */

}

aside > div{
  background-color: var(--secondary);
}

.nav{
  padding-bottom: 1vh;
}

.navbar-light{
  --bs-navbar-color: color-mix(in srgb, var(--contrast-big) 55%, transparent);
  --bs-navbar-hover-color: color-mix(in srgb, var(--contrast-big) 75%, transparent);
  --bs-navbar-disabled-color: color-mix(in srgb, var(--contrast-big) 25%, transparent);
  --bs-navbar-active-color: var(--contrast-big);
  --bs-navbar-brand-color: var(--contrast-big);
  --bs-navbar-brand-hover-color: var(--contrast-big);
  --bs-navbar-toggler-border-color: color-mix(in srgb, var(--contrast-big) 10%, transparent);
}


.centre{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}

button{
  padding: min(2.5%, 10px);
  border: none;
  border-radius: 3px;
  background-color: var(--contrast-smol);
  color: var(--secondary);
  transition: all  0.2s;
}
button:hover{  
  filter: brightness(110%);
}
button:active{  
  filter: brightness(90%);
}

/* 
@media  screen and (min-width: 550px) {
  :root{
    font-size: 12px;
  }
}  */