/* Font Imports*/

/* blockier font*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&family=Sigmar&display=swap');
/* bubbly font*/
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Indie+Flower&display=swap');
  

@media (prefers-color-scheme: dark) {
  body {
    --main-back: #2C3333;
    --secondary: #2E4F4F;
    --compliment: #00f7ff;
    --contrast-smol: #8dd4c2;
    --contrast-big: #e6f8f4;
  }
}


@media (prefers-color-scheme: light) {
  body {
    /*
    --main-back:rgb(165, 233, 233);  rgb(220, 244, 240); 
    --secondary: rgb(37, 221, 226);
    --compliment: rgb(243, 89, 184); *//*
    --contrast-smol: rgb(2, 69, 121);    rgb(20, 75, 186);  
    --contrast-big: rgb(7, 42, 82); */


    --main-back: #FDF4F5;
    --secondary: #E8A0BF;
    --compliment: #a6e0ff;  
    --contrast-smol: #936b9e;
    --contrast-big: #422b49;
  }
}

:root{
  /* blocky font: */
  /* --title-font: 'Sigmar', cursive;
  --general-font: 'Cherry Cream Soda', cursive;
  font-size: 20px; */

  /* bubbly font: */
  /* --title-font: 'Cherry Bomb One', cursive;
  --general-font: 'Indie Flower', cursive;
  font-size: 20px; */

  /* mix font  */  
  --title-font: 'Cherry Bomb One', cursive;
  --general-font: 'Cherry Cream Soda', cursive;
  font-size: 14px;
}


body{
  background-color: var(--main-back);
  color: var(--contrast-big);
  font-family: var(--general-font);
  
}


#heading, h1{  
  background-color: var(--secondary);
  color: var(--contrast-big);
  align-items: center;
}

header{
  margin-bottom: 0px;
  padding: 5px 10px;
  align-items: center;
  text-align: center;
}

h1{  
  padding: 5px 10px 0px;  
  /* border: 2px solid var(--compliment);
  border-radius: 5px;
  width: fit-content; */
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  color: var(--contrast-smol);
  font-family: var(--title-font);
  /* font-size: 70px; */
}

main  {
  display: grid;
  padding: 5vh 5% ;
  row-gap: 3vh;
}

main > * > div {
  padding: 10px;
  border: 2px solid var(--compliment);
  border-radius: 5px;
}

h2{
  color: var(--contrast-smol);
  font-family: var(--title-font);
  /* font-size: 40px; */

}

aside > div{
  background-color: var(--secondary);
}

.navbar-light{
  --bs-navbar-color: rgba(var(--contrast-big), 0.55);
  --bs-navbar-hover-color: rgba(var(--contrast-big), 0.75);
  --bs-navbar-disabled-color: rgba(var(--contrast-big), 0.25);
  --bs-navbar-active-color: var(--contrast-big);
  --bs-navbar-brand-color: var(--contrast-big);
  --bs-navbar-brand-hover-color: var(--contrast-big);
  --bs-navbar-toggler-border-color: rgba(var(--contrast-big), 0.1);
}


.centre{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
}

/* 
@media  screen and (min-width: 550px) {
  :root{
    font-size: 12px;
  }
}  */